h1{
    font-size: x-large;
}
h2{
    font-size: large;
}
h3{
    font-size: larger;
}
h4{
    color:darkgreen;font-size: medium;
}
body{
    font-family:'Trebuchet MS';font-size: small;
}
.box{
  height: 10px;
  width: 300px;
  border: 15px;
  padding: 5px;
  margin: 2px;
}