h1{
    font-size: xx-large;
}
h2{
    font-size: x-large;
}
h3{
    font-size: large;
}
h4{
    color:darkgreen;font-size: medium;
}
p{
    font-size: small;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.box{
  margin: 10px;
}
.border{
    border: 30px;color: black;
    margin: 50px;
}